.cu-container {
    background: url('/public/image/cuback.jpg') center center/cover no-repeat; 
    height: 130vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center; 
    object-fit: contain; 
}

.photo-text {
    position: absolute;
    top: 80px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    background-color: rgba(255, 255, 255, 0.646); /* Semi-transparent black background */
    color: white;
    padding: 5px 10px; /* Adjust padding as needed */
    font-size: 14px; /* Adjust font size as needed */
  }

.cu-container > h1 {
    color: #084634;
    background-color: rgb(255, 255, 255);
    font-size: 50px;
    padding: 0px 30px;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 30px;
    max-width: 60%;
    text-align: center;
}

.cu-container > p {
    font-family: 'Trebuchet MS', 'Helvetica', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.863); 
    text-align: justify;
    margin-left: 30px;
    margin-bottom: 30px;
    padding: 10px 20px;
    color: #084634;
    font-size: 20px;
    max-width: 50%; /* Set maximum width to 50% of the parent container */
  }